.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.card-title {
  color: #A52A2A;
}

.card {
  border: none;
}

.card img {
  height: 100%;
  object-fit: cover;
}

.btn-custom {
  background-color: #A77252;
  border: none;
}

.btn-custom:hover {
  background-color: #8B0000;
}

footer {
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
}

footer p span {
  margin-right: 10px;
}

footer .text-uppercase {
  margin-bottom: 1rem;
}

footer .text-center {
  color: #fff;
}

.listing-container {
  max-width: 1200px;
  margin: auto;
}

.banquet-card {
  padding: 20px;
}

.separator {
  border: 1px solid #C1536B;
  margin-top: 20px;
  margin-bottom: 20px;
}
