.my-bookings-page {
  padding-top: 20px;
}

.static-header {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
  height: auto;
}

.booking-list {
  padding: 20px;
  background-color: #f9f3e7;
}

.booking-list-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table-responsive {
  margin-top: 20px;
}

.booking-image {
  width: 100px;
  height: auto;
}