/* Container for the entire page */
.page-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    background-color: #F8F9FA;
    margin: 0;
    overflow: hidden;
    position: relative;
  }
  
  .background-image {
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    left: 0;
    right: 50%;
  }
  
  /* Container for the login form */
  .login-container {
    position: absolute;
    top: 100%;
    right: 10%;
    transform: translateY(-50%);
    max-width: 400px;
    width: 50%;
    padding: 30px;
    border-radius: 8px;
    background-color: #E9D8C3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    text-align: center;
  }
  
  /* Style for the heading */
  h2 {
    color: #964B00;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  /* Style for input fields */
  .custom-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the login button */
  .custom-btn {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #A77252;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
  }
  
  .custom-btn:hover {
    background-color: #8a5c3e;
    transform: translateY(-2px);
  }
  
  /* Forgot Password and Sign Up links */
  .text-black {
    color: #000000;
    margin-top: 10px;
  }
  
  .text-black a {
    color: #A77252;
    text-decoration: none;
  }
  
  .text-black a:hover {
    text-decoration: underline;
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .page-container {
      justify-content: center;
    }
  
    .background-image {
      width: 100%;
      right: 0;
    }
  
    .login-container {
      top: auto;
      bottom: 20%;
      right: auto;
      left: 10%;
      transform: none;
      width: 80%;
    }
  }
  
  @media (max-width: 576px) {
    .login-container {
      width: 90%;
    }
  }
  